PELICAN_PANEL_URL=https://panel-vt.nikomaru.dev
PELICAN_SERVER_UUID=49d154f2-6f19-44c2-9058-5037f62cc127
# Stored in Bitwarden Secrets Manager (project: morinoparty)
PELICAN_CLIENT_API_KEY= # BSM: ianua-silvae/PELICAN_CLIENT_API_KEY
